* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0a3d62;
    padding-bottom: 100px;
}

/* searchbox style */
.searchbox {
    width: 28em;
    height: 2em;

}

.searchbox i {
    background-image: url(./search.png);
    background-size: 30px 30px;
    width: 30px;
    height: 36px;

    margin-right: -28px;
    position: absolute;
}

.searchbox input {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: #82ccdd;
    border: none;
}

.searchbox input:focus {
    border: 1px solid #079992;
    background: #78e08f;
    outline: none;
}

/*           catalog              */

.catalog,
.extend-items {
    width: 11em;
    /* background: linear-gradient(#82ccdd, #336378); */
    border: 1px solid #343434;
    box-shadow: 4px 8px 8px 0 rgba(30, 50, 30, 0.4);
    border-radius: 5px;
    margin: 1.5em 2em;
    /* transition: all 0.2s ease; */

}
.catalog{
    background-color: #82ccdd;
background-image: linear-gradient(180deg, #82ccdd 4%, #336378 79%, rgb(10, 61, 98) 100%);
border-bottom: none;
box-shadow: 0  8px 8px rgba(10 , 61, 98, 0.4);

}

.catalog:hover,
.extend-items:hover {
    background: none;
    background-color: #38ada9;
}

.catalog-title {
    display: block;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: center;
    color: #009522;
}

/*                 item                  */
.item {
    margin: 10px 10px;
    position: relative;
}

.item a {
    color: #ffdead;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding-left: 22%;
}

.item a:hover {
    color: #f2c629;
}


/* a 带边框特效 */
.item a::before,
.item a::after {
    /* background-color:yellow; */
    display: block;
    width: 10px;
    height: 8px;
    content: "";
    position: absolute;
    transition: all 0.4s ease;
    opacity: 0;

}

.item a::before {
    left: 2px;
    top: 0;
    border-left: 2px solid #b71540;
    border-top: 2px solid #b71540;
}

.item a:hover::before {
    left: -4px;
    top: -2px;
    opacity: 1;
}

.item a::after {
    right: 10px;
    bottom: 0;
    border-right: 2px solid #b71540;
    border-bottom: 2px solid #b71540;
}

.item a:hover::after {
    right: 0;
    bottom: 0;
    opacity: 1;
}

/* a 带边框特效 */

.item-icon {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 17%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 6px;
}

/* 首项 特别显示 */

.catalog>.item:first-of-type a {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.catalog>.item:first-of-type .item-icon {
    position: static;
    margin: 0 auto;
    width: 3em;
    height: 3em;
}

.catalog>.item:first-of-type span {
    display: block;
    text-align: center;
}