
.zhihu {
    background-image: url(./icons/zhihu.png);
}

.baiduhanyu,
.baidutranslate,
.baidu {
    background-image: url(./icons/baidu.png);
}

.baiduzhidao {
    background-image: url(./icons/baiduzhidao.png);
}

.mbalib {
    background-image: url(./icons/mbalib.png);
}

.douban {
    background-image: url(./icons/douban.png);
}

.tieba {
    background-image: url(./icons/tieba.png);
}

.github {
    background-image: url(./icons/github.png);
}

.v2ex {
    background-image: url(./icons/v2ex.png);
}

.stackoverflow {
    background-image: url(./icons/stackoverflow.png);
}

.w3cschool {
    background-image: url(./icons/w3school.png);
}

.cssdict {
    background-image: url(./icons/cssdict.ico);
}

.qichacha {
    background-image: url(./icons/qichacha.png);
}

.python3-cookbook{
    background-image: url(./icons/python3-cookbook.png);
}

.django{
    background-image: url(./icons/django.ico);
}
.iconfont{
    background-image: url(./icons/iconfont.png);
}
.taobao{
    background-image: url(./icons/taobao.png);
}
.jingdong{
    background-image: url(./icons/jingdong.png);
}
.amazon{
    background-image: url(./icons/amazon.png);
}
.alibaba{
background-image: url(./icons/1688.png);
}

.bilibili{
background-image: url(./icons/bilibili.png);
}
.qqv{
    background-image: url(./icons/qqv.png);
}
.btdx{
    background-image: url(./icons/btdx.ico);
}
.dytt{
    background-image: url(./icons/dytt.ico)
}
.weipan{
    background-image: url(./icons/weipan.png);
}
.youku{
    background-image:url(./icons/youku.png);
}
.iqiyi{
    background-image:url(./icons/iqiyi.png);
}
.sinaweibo{
    background-image: url(./icons/sinaweibo.png);
}
.wxgongzhonghao{
    background-image: url(./icons/wxgongzhonghao.png);
}
.news163{
 background-image:url(./icons/163news.png);
}
.bbcnews{
    background-image:url(./icons/bbcnews.png);
}
.qqnews{
    background-image: url(./icons/qqnews.png);
}
.ifeng{
    background-image: url(./icons/ifeng.png);
}
.xinhua{
    background-image: url(./icons/xinhua.png);
}
.miaopai{
    background-image: url(./icons/miaopai.png);
}
.douyu{
    background-image: url(./icons/douyu.png);
}
.mgtv{
    background-image:url(./icons/mgtv.ico);
}
.acfun{
    background-image:url(./icons/acfun.png);
}
.youtube{
    background-image: url(./icons/youtube.png);
}
.vimeo{
    background-image: url(./icons/vimeo.png);
}
.sohutv{
    background-image: url(./icons/sohutv.png);
}
.ted{
    background-image:url(./icons/ted.png);
}
.codepen{
    background-image:url(./icons/codepen.png);
}
.yingyongbao{
    background-image:url(./icons/yingyongbao.png);
}
.sspai{
    background-image:url(./icons/sspai.png);
}
.doubanbook{
    background-image: url(./icons/doubanbook.png);
}
.qidian{
    background-image:url(./icons/qidian.png);
}
.kindle{
    background-image: url(./icons/kindle.png);
}
.wandoujia{
    background-image:url(./icons/wandoujia.png);
}
.apisio{
    background-image:url(./icons/apisio.png);
}
.csdn{
    background-image:url(./icons/csdn.png);
}
.ziqiangxuetang{
    background-image:url(./icons/ziqiangxuetang.png);
}
.facebook{
    background-image:url(./icons/facebook.png);
}
.steam{
    background-image: url(./icons/steam.png);
}
.music163{
    background-image: url(./icons/163music.png);
}
.kugou{
    background-image: url(./icons/kugou.png);
}
.xiami{
    background-image: url(./icons/xiami.png);
}
._17k{
    background-image: url(./icons/17k.ico);
}
.zongheng{
    background-image: url(./icons/zongheng.ico);
}
.motie{
    background-image:url(./icons/motie.png);
}
.chuangshi{
    background-image: url(./icons/chuangshi.png);
}
.ireader{
    background-image:url(./icons/ireader.png);
}
.tumblr{
    background-image:url(./icons/tumblr.png);
}
.pinterest{
    background-image:url(./icons/pinterest.png);
}
.qixin{
    background-image: url(./icons/qixin.png);
}
.jquery{
    background-image: url(./icons/jquery.ico);
}
.flickr{
    background-image: url(./icons/flickr.png);
}
.chromeexts{
    background-image: url(./icons/chromeexts.png);
}
.imgur{
    background-image: url(./icons/imgur.png);
}
.mogujie{
    background-image: url(./icons/mogujie.png);
}
.tmall{
    background-image:url(./icons/tmall.png);
}
.suning{
    background-image:url(./icons/suning.png);
}
.yhd{
    background-image: url(./icons/yhd.png);
}
.reuters{
    background-image:url(./icons/reuters.png);
}
.wikinews{
    background-image:url(./icons/wikinews.png);
}
.cnn{
    background-image: url(./icons/cnn.png);
}
.appledev{
    background-image:url(./icons/appledev.png);
}
.lofter{
    background-image:url(./icons/lofter.png);
}
.weibopic{
    background-image: url(./icons/weibopic.png);
}
.vueapi{
    background-image:url(./icons/vue.png);
}
.tools{
    background-image: url(./icons/tools.png);
}
.xunleicang{
    background-image: url(./icons/xunleicang.png);
}
.piaohua{
    background-image: url(./icons/piaohua.png);
}
.bdwpss{
    background-image: url(./icons/baiduyun.png);
}
.xiachufang{
    background-image:url(./icons/xiachufang.png);
}
.wikipediazh,
.wikipediaen
{
    background-image: url(./icons/wikipedia.png)
}
.dxy{
    background-image: url(./icons/dxy.png);
}
.jianshu{
    background-image: url(./icons/jianshu.png);
}
.googleplus{
    background-image:url(./icons/googleplus.png);
}