.container-1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-item {
    flex-basis: auto;
}

.searchbox {
    align-self: center;
    margin:0 120px;
}
@media screen and (max-width:1000px){
    .searchbox{
        margin:0;
    }
}
