/*                  extend-items 隐藏 动态显示                          */
.catalog {
    position: relative;
    /* 作为  。extend-items的容器 */
}

.extend-items {
    width: calc(100% + 2px);
    /*  要让它随着父元素 .catalog变动而变动 2px是父元素左右边框的宽度*/
    display: none;
    margin: 0;
}

.catalog:hover .extend-items {

    display: block;
    position: absolute;
    background-color: inherit;
    z-index: 1;
    top: 100%;
    left: -1px;
    right: 30px;
    /* 去掉上边框 */
    border-top: none;
    /* 去掉圆角 */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -10px;
}

.catalog:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}




/*  布局 */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: start;
    grid-row-gap: 2em;
}

/*  指定占位项  所在的位置 为第2和第5根网格线 之间 */
.occupy{
    grid-column: 2 / 5;
    grid-row: 1;
}


.searchbox {
   position: fixed;
   left:50%;
   top: 100px;
   transform: translate(-50%,0);
   z-index: 2;
}


.grid-item {}


/*  动态布局 */
@media screen and (max-width:900px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
   
    }

    .occupy {
      grid-column: 2 / 4;
    
    }
  

}

@media screen and (max-width:720px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;

        margin-top:60px; 

    }

    .occupy {
        position: absolute; /* 让它不在 占位 */

      }
    
    .searchbox{
        top: 10px;
        width: 60%;
    }
   
}

@media screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
    .searchbox{
        width: 80%;
    }
  
}
@media screen and (max-width:380px){
    .container{
        grid-template-columns: 1fr;
    }

}